.tagcloud-wrap {
  // background: gray;
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;

  .tagcloud {
  color: #00e1ff;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 650;
  margin: 10% auto;
  transition: all 0.3s ease-in-out;
}

/* Glow on hover */
.tagcloud:hover {
  color: #ffffff;
  text-shadow:
    0 0 5px #fff,
    0 0 15px #00e1ff,
    0 0 30px #00e1ff;
  transform: scale(1.05);
}


  .tagcloud--item:hover {
    color: #00e5ff;
  }
}
