.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

  

    .head,h3 {
      color: #fff;
      font-size: 56px;
      line-height: 63px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      

      &:before {
       
        font-family: 'La Belle Aurore', cursive;
        color: #00ff7f;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.9;
      }

      &:after {
        font-family: 'La Belle Aurore', cursive;
        color: #00ff7f;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.9;
      }
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      user-select: none;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .sub1{
    color: rgb(25, 236, 255);
    font-size: 100px;
    text-align: right;
    justify-content: center;

    &:hover {
      text-shadow: "0 0 5px skyblue, 0 0 10px skyblue, 0 0 20px skyblue, 0 0 30px skyblue"

    }
   }
    

  .flat-button {
    color: #0bffff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #1cffe4;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    border-radius: 0.5rem;

    &:hover {
      background: #00d9ff;
      color: rgb(0, 0, 0);
    }
  }

  .selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

