.nav-bar {
  background: #181818;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  p {
    color: #b9b9b9;
    margin-left: 10px;
  }

  .logo {
    display: block;
    padding: 10px 0;

    img {
      display: block;
      margin: 10px auto;
      width: 30px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #03fffb;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #01fbff;
       

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: "HOME";
        }
      }
    }

    a.about-link {
      &:after {
        content: "ABOUT";
      }
    }

    a.contact-link {
      &:after {
        content: "CONTACT";
      }
    }

    a.skills-link {
      &:after {
        content: "SKILLS";
      }
    }
    a.projects-link {
      &:after {
        content: "PROJECT";
      }
    }
    a.experience-link {
      &:after {
        content: "EXP";
      }
    }

    a.active {
      svg {
        color: #04fff7;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 5px 0;
        width: 35px;
        display: block;
        font-size: 12px;
        zoom: 2;
        line-height: 12px;
        color: #2dffff;

        &:hover {
          color: #00ffea;
          text-shadow: #04fff7;
        }
      }
    }
  }
}

.random {
  color: #3df5ff;
}
